<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Высоцкий</string>
	<key>1</key>
	<string>Инвестируй</string>
	<key>2</key>
	<string>Чебурашка</string>
	<key>3</key>
	<string>Бедность</string>
	<key>4</key>
	<string>Клава</string>
	<key>5</key>
	<string>Официанты</string>
	<key>6</key>
	<string>Кинг</string>
	<key>7</key>
	<string>Галкин</string>
	<key>8</key>
	<string>Гончарова</string>
	<key>9</key>
	<string>Пепельница</string>
	<key>10</key>
	<string>Coca-Cola</string>
	<key>11</key>
	<string>Фамилию</string>
	<key>12</key>
	<string>Перегар</string>
	<key>13</key>
	<string>Писающий мальчик</string>
	<key>14</key>
	<string>Свечей</string>
	<key>15</key>
	<string>Бейсбол</string>
	<key>16</key>
	<string>Часы</string>
	<key>17</key>
	<string>Пылесос</string>
	<key>18</key>
	<string>Хилари</string>
	<key>19</key>
	<string>Штаны</string>
	<key>20</key>
	<string>Joker</string>
	<key>21</key>
	<string>Матрешка</string>
	<key>22</key>
	<string>Гондурас</string>
	<key>23</key>
	<string>Нос</string>
	<key>24</key>
	<string>Дарвин</string>
	<key>25</key>
	<string>Экс-</string>
	<key>26</key>
	<string>Учитель</string>
	<key>27</key>
	<string>Археолог</string>
	<key>28</key>
	<string>Колобок</string>
	<key>29</key>
	<string>Старик и море</string>
	<key>30</key>
	<string>Воя</string>
	<key>31</key>
	<string>Шварценеггер</string>
	<key>32</key>
	<string>Математик</string>
	<key>33</key>
	<string>Сечь</string>
	<key>34</key>
	<string>Дарвин</string>
	<key>35</key>
	<string>Маяковский</string>
	<key>36</key>
	<string>Без базара</string>
	<key>37</key>
	<string>Кварц</string>
	<key>38</key>
	<string>Времени</string>
	<key>39</key>
	<string>Ной</string>
	<key>40</key>
	<string>Написать</string>
	<key>41</key>
	<string>Пешки</string>
	<key>42</key>
	<string>Ленинград</string>
	<key>43</key>
	<string>Жемчуг</string>
	<key>44</key>
	<string>На</string>
	<key>45</key>
	<string>Софит</string>
	<key>46</key>
	<string>Л</string>
	<key>47</key>
	<string>Сурок</string>
	<key>48</key>
	<string>Коперник</string>
	<key>49</key>
	<string>Ромашка</string>
	<key>50</key>
	<string>Слон</string>
	<key>51</key>
	<string>Энгельс</string>
	<key>52</key>
	<string>Эффект бабушки</string>
	<key>53</key>
	<string>Авокадо</string>
	<key>54</key>
	<string>Зонт</string>
	<key>55</key>
	<string>Мишель</string>
	<key>56</key>
	<string>Моржи</string>
	<key>57</key>
	<string>Крылатые</string>
	<key>58</key>
	<string>Походка</string>
	<key>59</key>
	<string>Фастфуд</string>
	<key>60</key>
	<string>Бокс</string>
	<key>61</key>
	<string>Отмывать деньги</string>
	<key>62</key>
	<string>Часы</string>
	<key>63</key>
	<string>Постскриптум</string>
	<key>64</key>
	<string>Камерная</string>
	<key>65</key>
	<string>Мачта</string>
	<key>66</key>
	<string>Хью</string>
	<key>67</key>
	<string>Викиликс</string>
	<key>68</key>
	<string>Отверженная</string>
	<key>69</key>
	<string>Телохранитель</string>
	<key>70</key>
	<string>Сон</string>
	<key>71</key>
	<string>Титаник</string>
	<key>72</key>
	<string>Флеминг</string>
	<key>73</key>
	<string>Прогноз</string>
	<key>74</key>
	<string>Ипотека</string>
	<key>75</key>
	<string>Сигара</string>
	<key>76</key>
	<string>Пастух</string>
	<key>77</key>
	<string>Манчестер</string>
	<key>78</key>
	<string>Сквош</string>
	<key>79</key>
	<string>Фисташки</string>
	<key>80</key>
	<string>Попугай</string>
	<key>81</key>
	<string>Эшафот</string>
	<key>82</key>
	<string>Петь</string>
	<key>83</key>
	<string>Пейнтбол</string>
	<key>84</key>
	<string>Армения</string>
	<key>85</key>
	<string>Градус</string>
	<key>86</key>
	<string>Аплодисменты</string>
	<key>87</key>
	<string>Логика</string>
	<key>88</key>
	<string>Лондон</string>
	<key>89</key>
	<string>Колониальный</string>
	<key>90</key>
	<string>Клакс</string>
	<key>91</key>
	<string>Классы</string>
	<key>92</key>
	<string></string>
	<key>93</key>
	<string></string>
	<key>94</key>
	<string></string>
	<key>95</key>
	<string></string>
	<key>96</key>
	<string></string>
	<key>97</key>
	<string></string>
	<key>98</key>
	<string></string>
	<key>99</key>
	<string></string>
</dict>
</plist>
