<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Москвы</string>
	<key>2</key>
	<string>Одессы</string>
	<key>3</key>
	<string>Баку</string>
	<key>4</key>
	<string>Санкт-Петербурга</string>
	<key>5</key>
	<string>Купертино</string>
	<key>6</key>
	<string>Сан-Франциско</string>
	<key>7</key>
	<string>Екатеринбурга</string>
	<key>8</key>
	<string>Таганрога</string>
	<key>9</key>
	<string>Рязани</string>
	<key>10</key>
	<string>Челябинска</string>
	<key>11</key>
	<string>Красноярска</string>
	<key>12</key>
	<string>Новосибирска</string>
	<key>13</key>
	<string>Сочи</string>
	<key>14</key>
	<string>Адлера</string>
	<key>15</key>
	<string>Винницы</string>
	<key>16</key>
	<string>Киева</string>
	<key>17</key>
	<string>Тель-Авива</string>
	<key>18</key>
	<string>Кейптауна</string>
	<key>19</key>
	<string>Еревана</string>
	<key>20</key>
	<string>Тбилиси</string>
	<key>21</key>
	<string>села Долгоруково</string>
	<key>22</key>
	<string>Липецка</string>
</dict>
</plist>
