<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Речь о песне Высоцкого &quot;Чуть помедленнее, кони...&quot;. ЦСКА в народе называют &quot;кони&quot;.</string>
	<key>1</key>
	<string></string>
	<key>2</key>
	<string></string>
	<key>3</key>
	<string></string>
	<key>4</key>
	<string>Памятник представляет собой огромную клавиатуру, или, как мы часто её называем, &quot;клаву&quot;.</string>
	<key>5</key>
	<string>В задачу соревнующихся входило, в том числе, донести &quot;заказ&quot; в целости до финиша.</string>
	<key>6</key>
	<string>Все эти способы смерти взяты из произведений Стивена Кинга.</string>
	<key>7</key>
	<string>Речь идёт о британском аналоге программы &quot;Кто хочет стать миллионером&quot;, где по версии следствия жена майора подсказывала ему своим кашлем.</string>
	<key>8</key>
	<string>Александр Александрович - сын Александра Сергеевича Пушкина</string>
	<key>9</key>
	<string>Четырехдюймовая, пятидюймовая и т.д. - соответственно, длина сигары.</string>
	<key>10</key>
	<string></string>
	<key>11</key>
	<string>Женщины часто меняют фамилии в связи с замужеством.</string>
	<key>12</key>
	<string></string>
	<key>13</key>
	<string></string>
	<key>14</key>
	<string>В зависимости от продолжительности дня требовалось разное количество свечей для освещения.</string>
	<key>15</key>
	<string></string>
	<key>16</key>
	<string>Часы во всех комнатах должны были показывать одинаковое время.</string>
	<key>17</key>
	<string></string>
	<key>18</key>
	<string></string>
	<key>19</key>
	<string>&quot;Пифагоровы штаны на все стороны равны&quot;.</string>
	<key>20</key>
	<string>Набор портретов в данном случае - колода карт.</string>
	<key>21</key>
	<string></string>
	<key>22</key>
	<string>В буквальном смысле последовательность букв &quot;ОН&quot; встречается только в Г-ОН-дурасе.</string>
	<key>23</key>
	<string></string>
	<key>24</key>
	<string>Программы вытесняли друг друга, и этот принцип очень похож на принцип естественного отбора. Термин «Естественный отбор» популяризовал Чарльз Дарвин.</string>
	<key>25</key>
	<string>... экс-чемпионом мира.</string>
	<key>26</key>
	<string></string>
	<key>27</key>
	<string></string>
	<key>28</key>
	<string>&quot;Поскреби по сусекам и возьми ипотеку&quot;. А Колобок, как известно, был бабкой наскребен по сусекам.</string>
	<key>29</key>
	<string>Старик и море долгов.</string>
	<key>30</key>
	<string>Наше государство — правовое, поскольку каждый в нем имеет право воя.</string>
	<key>31</key>
	<string>Герой Арнольда Шварценеггера в фильме &quot;Джуниор&quot; действительно вынашивал ребенка.</string>
	<key>32</key>
	<string>Выдающийся шведский математик Миттаг-Леффлер настойчиво и небезуспешно ухаживал за женой Нобеля. Узнав об этом, учредитель премий решил отомстить обидчику и его науке таким своеобразным способом.</string>
	<key>33</key>
	<string></string>
	<key>34</key>
	<string>Именно Дарвин выдвинул теорию, что люди произошли от обезьян.</string>
	<key>35</key>
	<string>Огромное тело, о котором идёт речь - облако. «Облако в штанах» - поэма Владимира Владимировича Маяковского.</string>
	<key>36</key>
	<string></string>
	<key>37</key>
	<string>Использование кристалла кварца как колебательной системы лишило швейцарских часовщиков их основного преимущества - точности. Японские часовые марки получили в то время преимущество.</string>
	<key>38</key>
	<string>«Краткая история времени» - научно-популярная книга, написанная физиком Стивеном Хокингом. Как известно, Хокинг ввиду болезни не способен разговаривать и может двигать только пальцами рук.</string>
	<key>39</key>
	<string></string>
	<key>40</key>
	<string></string>
	<key>41</key>
	<string></string>
	<key>42</key>
	<string></string>
	<key>43</key>
	<string>&quot;Творчество - болезнь души, подобно тому как жемчужина есть болезнь моллюска&quot;. Раковина с моллюском - символ богородицы, жемчуг - символ Христа.</string>
	<key>44</key>
	<string>Машинист сидел НА локомотиве.</string>
	<key>45</key>
	<string></string>
	<key>46</key>
	<string>Лживое пиво...</string>
	<key>47</key>
	<string>Из названия мультфильма понятно, что действие происходит зимой, когда медведь спит - по выражению Маши, &quot;как сурок&quot;. Европейским предшественником американского сурка - предсказателя погоды был священный медведь.</string>
	<key>48</key>
	<string>Сараи (поэт XIV века) сравнил красавицу Гульдурсун с Землей, кружащейся вокруг Солнца. Коперник считается первооткрывателем гелиоцентризма.</string>
	<key>49</key>
	<string>Гадание на ромашке действительно может дать ответ.</string>
	<key>50</key>
	<string>&quot;Вот два уха с обеих сторон. Влетает муха, вылетает слон&quot;</string>
	<key>51</key>
	<string>Апостолы коммунизма. Энгельс (Engel - ангел по-немецки) неоднократно выручал Маркса из множества жизненных передряг.</string>
	<key>52</key>
	<string>Очевидная аллюзия на &quot;Эффект бабочки&quot;.</string>
	<key>53</key>
	<string>&quot;Я знаю свои права! Я ничего не скажу! Я буду говорить только в присутствии своего Авокадо!&quot;. Персонажи сказки Родари - овощи или фрукты. В современной версии адвокатом был сеньор Авокадо.</string>
	<key>54</key>
	<string>Действительно как рыбке зонтик. И визуально похоже.</string>
	<key>55</key>
	<string>ЕВА = первая леди. У Прохорова спросили - &quot;Как он может стать президентом без первой леди&quot;. Первую леди США зовут Мишель Обама.</string>
	<key>56</key>
	<string>Мы называем любителей зимнего плавания &quot;моржами&quot;, а американцы - &quot;белыми медведями&quot;.</string>
	<key>57</key>
	<string>Поэтому детишки старались накататься на парковых качелях раньше, &quot;в юном месяце апреле&quot;. Так Юрий Энтин вспоминал об истории написания песни &quot;Крылатые качели&quot;.</string>
	<key>58</key>
	<string>&quot;А я милого узнаю по походке...&quot;</string>
	<key>59</key>
	<string>Словосочетания &quot;готовые фразы&quot; и &quot;замороженные мысли&quot; - подсказки. :-)</string>
	<key>60</key>
	<string>А русские для развлечения дрались стенка на стенку.</string>
	<key>61</key>
	<string></string>
	<key>62</key>
	<string>Зрителю стало скучно, и он решил узнать, сколько осталось до конца спектакля. Это было страшным ударом для Уэллса.</string>
	<key>63</key>
	<string></string>
	<key>64</key>
	<string></string>
	<key>65</key>
	<string>Мачты есть, в частности, в буквах &quot;Т&quot; и &quot;Ч&quot;, а &quot;Т&quot; и &quot;Ч&quot; есть в слове &quot;мачта&quot;.</string>
	<key>66</key>
	<string>Имеется в виду Хью Хефнер - основатель журнала &quot;Playboy&quot;, об обложке которого и шла речь в вопросе.</string>
	<key>67</key>
	<string></string>
	<key>68</key>
	<string>На экзамене в ГИТИС она читала стихотворение Евгения Евтушенко &quot;Отверженная&quot;, поскольку все остальные вузы ее уже отвергли. Вильгельм Левик перевел стихи из романа &quot;Отверженные&quot;.</string>
	<key>69</key>
	<string>Всем известен фильм &quot;Телохранитель&quot; с участием Уитни Хьюстон.</string>
	<key>70</key>
	<string>Собака лаяла, когда прихожане начинали засыпать на проповеди.</string>
	<key>71</key>
	<string>Речь идет о серии часов Romain Jerome Titanic DNA. Их корпус содержит сталь с затонувшего корабля, а число часов в серии напоминает о столетней годовщине гибели Титаника.</string>
	<key>72</key>
	<string>Именно Флеминг открыл пенициллин. Любопытно, что слово &quot;пенициллин&quot; входит в название разнообразных сырных плесеней, например Penicillium camemberti.</string>
	<key>73</key>
	<string>В обществе будущего передавали не астрологический, а астрофизический прогноз — данные о радиационной активности Солнца и тому подобное.</string>
	<key>74</key>
	<string>&quot;Стало тесно — возьмите кредит&quot;.</string>
	<key>75</key>
	<string>Херардо Родригес, как и большинство знаменитых роллеров, — кубинец.</string>
	<key>76</key>
	<string>Луны, как пастухи, не позволяют окружающему материалу разбегаться. В электрифицированном ограждении используют короткие импульсы, чтобы не ранить животного.</string>
	<key>77</key>
	<string>Последнее слово цитаты — &quot;United&quot; — и является названием фильма об истории команды &quot;Манчестер Юнайтед&quot;. Сцена снята на стадионе &quot;Олд Траффорд&quot;, где по традиции некоторые трибуны занимали группы людей, объединенных по профессиональному признаку. Манчестер — город в старопромышленном районе Англии и морской порт. Отсюда текстильщики, слесари, докеры и т.д. &quot;Манчестер Юнайтед&quot; — один из самых успешных в мире клубов по коммерческим показателям.</string>
	<key>78</key>
	<string>Сквош — игра, напоминающая теннис. В отличие от тенниса, в сквош можно играть без соперника.</string>
	<key>79</key>
	<string>На месте преступления была найдена скорлупа от фисташек.</string>
	<key>80</key>
	<string>Вообще, Google известен своим своеобразным чувством юмора. По мнению Google, длина удава ровно 5 метров, а упомянутое нами число — это 5/38.</string>
	<key>81</key>
	<string>Дело было в 1794 году, во время Французской революции. Сен-Лазар — парижская тюрьма, в которой дамы готовились красиво взойти на эшафот.</string>
	<key>82</key>
	<string>Мужа и сына упомянутой в вопросе женщины звали Петр. Этих двух Петь она наверняка любила.</string>
	<key>83</key>
	<string>Оружие, стреляющее краской. &quot;С другими целями&quot; — небольшая подсказка.</string>
	<key>84</key>
	<string>Прозвище — Ной. Ноев ковчег нашел пристанище на Арарате, поэтому неудивительно, что существует армянский коньяк под названием &quot;Ной&quot;.</string>
	<key>85</key>
	<string>ОНА — секундная стрелка. Секундные стрелки на многих часах движутся дискретно — совершая одно движение в секунду. Иногда это движение можно услышать. Одна секунда (как и минута) на циферблате соответствует шести угловым градусам.</string>
	<key>86</key>
	<string></string>
	<key>87</key>
	<string>&quot;Так, — говорит герой Грасса, — я познакомился с женской логикой&quot;.</string>
	<key>88</key>
	<string>Побывав в Лондоне, Джек Лондон написал книгу &quot;Люди бездны&quot; о страшной судьбе бедняков Ист-Энда в Лондоне.</string>
	<key>89</key>
	<string>Это учреждение — исправительная колония N 3 г. Уфы. Пингвины — ее символ.</string>
	<key>90</key>
	<string>Премия &quot;Золотой клаксон&quot;.</string>
	<key>91</key>
	<string>В подтверждение &quot;бесклассового характера&quot; нацистского режима на лайнере &quot;Густлофф&quot; были каюты одинакового размера и одинакового удобства для всех пассажиров, то есть отсутствовали первый, второй и третий классы.</string>
	<key>92</key>
	<string></string>
	<key>93</key>
	<string></string>
	<key>94</key>
	<string></string>
	<key>95</key>
	<string></string>
	<key>96</key>
	<string></string>
	<key>97</key>
	<string></string>
	<key>98</key>
	<string></string>
	<key>99</key>
	<string></string>
</dict>
</plist>
