<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Высо</string>
	<key>1</key>
	<string>Инве</string>
	<key>2</key>
	<string>Чебу</string>
	<key>3</key>
	<string>Бе</string>
	<key>4</key>
	<string>Кла</string>
	<key>5</key>
	<string>Оф</string>
	<key>6</key>
	<string>Ки</string>
	<key>7</key>
	<string>Гал</string>
	<key>8</key>
	<string>Гон</string>
	<key>9</key>
	<string>Пеп</string>
	<key>10</key>
	<string>Coca</string>
	<key>11</key>
	<string>Фам</string>
	<key>12</key>
	<string>Перег</string>
	<key>13</key>
	<string>Писаю</string>
	<key>14</key>
	<string>Свеч</string>
	<key>15</key>
	<string>Бей</string>
	<key>16</key>
	<string>Час</string>
	<key>17</key>
	<string>Пыле</string>
	<key>18</key>
	<string>Хила</string>
	<key>19</key>
	<string>Шта</string>
	<key>20</key>
	<string>Jok</string>
	<key>21</key>
	<string>Матр</string>
	<key>22</key>
	<string>Гон</string>
	<key>23</key>
	<string>Но</string>
	<key>24</key>
	<string>Дар</string>
	<key>25</key>
	<string>Эк</string>
	<key>26</key>
	<string>Учит</string>
	<key>27</key>
	<string>Арх</string>
	<key>28</key>
	<string>Коло</string>
	<key>29</key>
	<string>Стар</string>
	<key>30</key>
	<string>Во</string>
	<key>31</key>
	<string>Шварц</string>
	<key>32</key>
	<string>Матем</string>
	<key>33</key>
	<string>Сеч</string>
	<key>34</key>
	<string>Дар</string>
	<key>35</key>
	<string>Маяк</string>
	<key>36</key>
	<string>Без ба</string>
	<key>37</key>
	<string>Ква</string>
	<key>38</key>
	<string>Врем</string>
	<key>39</key>
	<string>Ной</string>
	<key>40</key>
	<string>Напис</string>
	<key>41</key>
	<string>Пеш</string>
	<key>42</key>
	<string>Лени</string>
	<key>43</key>
	<string>Жем</string>
	<key>44</key>
	<string>На</string>
	<key>45</key>
	<string>Соф</string>
	<key>46</key>
	<string>Л</string>
	<key>47</key>
	<string>Сур</string>
	<key>48</key>
	<string>Коп</string>
	<key>49</key>
	<string>Рома</string>
	<key>50</key>
	<string>Сл</string>
	<key>51</key>
	<string>Энг</string>
	<key>52</key>
	<string>Эфф</string>
	<key>53</key>
	<string>Аво</string>
	<key>54</key>
	<string>Зо</string>
	<key>55</key>
	<string>Миш</string>
	<key>56</key>
	<string>Морж</string>
	<key>57</key>
	<string>Крыл</string>
	<key>58</key>
	<string>Пох</string>
	<key>59</key>
	<string>Фаст</string>
	<key>60</key>
	<string>Бок</string>
	<key>61</key>
	<string>Отмывать д</string>
	<key>62</key>
	<string>Час</string>
	<key>63</key>
	<string>Постск</string>
	<key>64</key>
	<string>Кам</string>
	<key>65</key>
	<string>Мач</string>
	<key>66</key>
	<string>Хь</string>
	<key>67</key>
	<string>Вик</string>
	<key>68</key>
	<string>Отверж</string>
	<key>69</key>
	<string>Телох</string>
	<key>70</key>
	<string>Сон</string>
	<key>71</key>
	<string></string>
	<key>72</key>
	<string></string>
	<key>73</key>
	<string></string>
	<key>74</key>
	<string></string>
	<key>75</key>
	<string></string>
	<key>76</key>
	<string></string>
	<key>77</key>
	<string></string>
	<key>78</key>
	<string></string>
	<key>79</key>
	<string></string>
	<key>80</key>
	<string></string>
	<key>81</key>
	<string></string>
	<key>82</key>
	<string></string>
	<key>83</key>
	<string></string>
	<key>84</key>
	<string></string>
	<key>85</key>
	<string></string>
	<key>86</key>
	<string></string>
	<key>87</key>
	<string></string>
	<key>88</key>
	<string></string>
	<key>89</key>
	<string></string>
	<key>90</key>
	<string></string>
	<key>91</key>
	<string></string>
	<key>92</key>
	<string></string>
	<key>93</key>
	<string></string>
	<key>94</key>
	<string></string>
	<key>95</key>
	<string></string>
	<key>96</key>
	<string></string>
	<key>97</key>
	<string></string>
	<key>98</key>
	<string></string>
	<key>99</key>
	<string></string>
</dict>
</plist>
