<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Во время баскетбольного матча между московским &quot;Динамо&quot; и ЦСКА, когда разница в счете стала быстро расти в пользу армейцев, организаторы включили песню с подходящим припевом. 
Напишите фамилию того, кто написал эту песню.</string>
	<key>1</key>
	<string>Саркастичный слоган движения против войны во Вьетнаме гласил: &quot;Война — это доходный бизнес. [ПРОПУСК] своего сына&quot;. 
Заполните пропуск глаголом иностранного происхождения.</string>
	<key>2</key>
	<string>В конце 60-х годов прошлого века в СССР этим словом стали называть детские сады, кафе и неустойчивые бутылочки емкостью 0,33 литра. 
Напишите это слово.</string>
	<key>3</key>
	<string>Григорий Явлинский сказал, что это приводит к коммунизму и педикулезу. Жан Поль считал, что это &quot;есть мать пороков, но также и величайших изобретений&quot;. Перикл говорил, что &quot;не избавиться от этого трудом постыдно&quot;. 
Что же это?</string>
	<key>4</key>
	<string>Не так давно в Екатеринбурге был установлен необычный памятник. Состоит он из нескольких десятков отдельных частей из бетона. Место сразу же стало популярным у жителей города, а дети так вообще получили возможность учить здесь алфавит. Сам памятник молодежь называет женским именем. 
Каким?</string>
	<key>5</key>
	<string>В Цюрихе лет тридцать назад проводилось Гран-при, участники которого преодолевали дистанцию с препятствиями длиной полтора километра. В отличие от многих соревнований, по итогам которых победители получают бутылку шампанского, участники этого соревнования получали бутылку ликера, бутылку вина, бутылку минеральной воды и бокал коктейля еще до старта. 
Назовите тех, кто был участниками этого Гран-при.</string>
	<key>6</key>
	<string>Некоторые из 700 способов смерти: 
1. Съеден гигантской личинкой. 
2. Навсегда затерялся среди аттракционов. 
3. Умер от глупости. 
4. Обезглавлен, а голова использована в качестве украшения торта. 
5. Умер от ужаса, увидев свою жену, выходящую из ванной. 
6. Умер от обширного кровоизлияния в мозг при виде игрушечной 
обезьянки 
7. Съеден роялем. 
8. Съеден библиотекарем, который оказался инопланетянином. 
Назовите фамилию того, кто убивал людей таким образом?</string>
	<key>7</key>
	<string>Скотланд-ярд расследовал дело майора Чарльза Ингрэма, подозревавшегося в мошенничестве. В деле фигурировала крупная сумма денег, а поводом для возбуждения дела стал кашель его жены. Если бы этот процесс произошел у нас, то свидетелем на нем непременно бы стал один из двух российских знаменитых людей. Назовите фамилию младшего из них.</string>
	<key>8</key>
	<string>Этого героя русско-турецкой войны, командира 13-го Нарвского гусарского полка, звали Александром Александровичем. О себе он любил шутя говорить: &quot;Я самое неудачное произведение своего отца&quot;. А как была девичья фамилия его матери?</string>
	<key>9</key>
	<string>Стивен Фрай писал, что в викторианской Англии проповеди иногда характеризовались так: четырехдюймовая проповедь, пятидюймовая проповедь, полная &quot;Корона&quot; и так далее. А теперь назовите предмет, который в то время стали вделывать в спинки церковных скамей.</string>
	<key>10</key>
	<string>Шведский художник Хаддон Сундблом, известный своими рекламными плакатами, однажды получил от крупной фирмы заказ на разработку рекламного плаката. В конце 1931 года его автопортрет в одежде фирменной расцветки, изображённый на плакате, завоевал популярность во всей Америке. Это и не удивительно. Высокий, румяный бородач был намного симпатичнее прежних изображений данного персонажа — гномоподобных существ, одетых во что-то невыносимо пёстрое. Какая фирма была заказчиком рекламного плаката? (ответ латиницей)</string>
	<key>11</key>
	<string>Комментатор Владимир Гомельский однажды посетовал: &quot;Трудно с женским спортом, только привыкнешь, как уже надо переучивать&quot;. Что именно переучивать?</string>
	<key>12</key>
	<string>В средние века в России существовал простой, но надежный способ проверки качества водки: водку наливали в специальную банку и поджигали. То, что оставалось, переливали в другую банку, вдвое меньшую по объему. Если банка наполнялась без остатка — водка хорошая, если не наполнялась или оставался остаток — плохая. А сам процесс назывался словом, которое сейчас обрело другой смысл. 
Назовите это слово.</string>
	<key>13</key>
	<string>Зачастую пьянство лишает человека элементарных представлений о приличии. Неудивительно, что на картинке &quot;Вакх&quot; великого бельгийского художника Рубенса в правом нижнем углу изображен ОН. Назовите ЕГО двумя словами.</string>
	<key>14</key>
	<string>В циркуляре о содержании заключенных в Петропавловской крепости писалось: в июле — 4, в сентябре — 11, в ноябре — 18. Чего?</string>
	<key>15</key>
	<string>Согласно невеселым статистическим данным, предоставленным агентством &quot;РиФ&quot;, в 2008 году в России было продано три ПЕРВЫХ, одна ВТОРАЯ и почти полмиллиона ТРЕТЬИХ. ПЕРВЫЕ, ВТОРЫЕ И ТРЕТЬИ являются инвентарем для одного и того же вида спорта. Назовите этот вид спорта.</string>
	<key>16</key>
	<string>Старые опытные дворецкие всегда могли сказать, содержится ли дом в идеальном порядке. Для этого они смотрели на некие однотипные предметы в разных комнатах. Что это предметы?</string>
	<key>17</key>
	<string>Первая модель этого устройства носила имя &quot;Фырчащий Билли&quot; и работала на бензине и его парковали на улице. В газетах он рекламировался так: на картинке — большой крытый фургон, запряженный парой лошадей. Через распахнутую дверцу фургона виден громоздкий механизм: металлические цилиндры, шестерни, маховое колесо. От него на балкон двухэтажного дома тянутся гибкие шланги. Их держат двое бравых усачей, выглядывающих из балконной двери. Вскоре количество этих устройств на улицах Лондона превысило количество лошадей и власти города запретили их использование на улицах. О каком устройстве идет речь?</string>
	<key>18</key>
	<string>Этот человек в прошлом году попал под номером 25 в список &quot;самых крутых парней Америки&quot;, опубликованный в журнале &quot;Mens journal&quot; (&quot;Мэнз джорнэл&quot;). Родился этот человек 26 октября 1947 года. В конце прошлого века семейная жизнь этого человека чуть не дала трещину из-за его &quot;половины&quot;. Мы не спрашиваем вас об имени этой &quot;половины&quot;. Назовите только имя этого человека.</string>
	<key>19</key>
	<string>Как известно, отцом геометрии считается Евклид, собравший все геометрическое знание своего времени в своих &quot;Началах&quot;. Труд этот состоит из нескольких книг, которые состоят из отдельных глав, которые так и называются — начала или элементы. 
А какой предмет одежды фигурирует во всем известном стихотворении о сорок седьмом элементе первой книги &quot;Начал&quot;.</string>
	<key>20</key>
	<string>Фуше и Шарль Морис Талейран-Перигор занимали посты министра, соответственно, полиции и иностранных дел и при республике, и при Наполеоне, и при Бурбонах. Оставаясь в тени и не выделяясь, в отличие от многих фигур своих современников, они реально вершили внутреннюю и внешнюю политику Франции. Портреты этих выдающихся политиков можно встретить в одном наборе. При использовании этого набора иногда можно обойтись только одним портретом, порой они не требуются вовсе. Воспроизведите надпись, присутствующую на обоих портретах. (ответ латиницей)</string>
	<key>21</key>
	<string>Прослушайте две цитаты, взятые из двух различных энциклопедий. Первая цитата: &quot;Она олицетворяет идею крепкой семьи, достатка, продолжения рода, несет в себе идею единства&quot;. Вторая цитата: &quot;Мастера из Нюрнберга сделали ЕЕ в виде Синей бороды и семи его жен&quot;. Назовите ЕЕ.</string>
	<key>22</key>
	<string>В Европе ОН есть только в трех странах — Эстонии, Македонии и Монако. В Азии тоже в трех — в Индонезии, Монголии и Японии. А в Америке ОН есть только в одной стране.
Назовите эту страну.</string>
	<key>23</key>
	<string>Ученые Утрехтского университета в Нидерландах завербовали несколько сот граждан Утрехта — города с хорошо развитой промышленностью. Каждый четверг вечером они должны высовываться из окна и определять состояние окружающей среды. Что они при этом используют?</string>
	<key>24</key>
	<string>По утверждению Андрея Анненкова, компьютерные вирусы как таковые появились в 1961 году в компании Bell Telephone [Белл Телефон]. Программисты развлекались игрой, названной фамилией: каждый из участников отлаживал программу, которая умеет вытеснять из памяти компьютера другие программы. Программы-агрессоры одновременно запускались на выполнение, и автор выжившего кода становился победителем. Типичная тактика игры состояла в том, чтобы программа загружала в память компьютера собственные копии, не оставляя места конкурентам. Какое название носила игра? (кириллицей)</string>
	<key>25</key>
	<string>Когда в присутствии Михаила Таля похвалили молодого шахматиста, Таль с грустной иронией заметил: &quot;Я в его возрасте уже был чемпионом мира&quot;. Что мы пропустили в вопросе?</string>
	<key>26</key>
	<string>Назовите профессию, о представителях которой Стивен Кинг сказал: &quot;Собака Павлова: по звонку говорит, по звонку затыкается&quot;.</string>
	<key>27</key>
	<string>Агата Кристи говорила, что выбрала мужа не просто так, ибо он, в отличие от других мужчин, будет только больше любить и ценить ее с прошествием лет. 
Назовите его профессию.</string>
	<key>28</key>
	<string>Рекламный слоган одного банка звучал так: &quot;СДЕЛАЙ ЭТО и возьми ипотеку&quot;. Герой поучительной истории с печальным концом появился благодаря тому, что сначала СДЕЛАЛИ ЭТО. Назовите упомянутого героя.</string>
	<key>29</key>
	<string>Юрий Олеша, страдавший в преклонном возрасте хроническим безденежьем, характеризовал сам себя с помощью произведения нобелевского лауреата. Правда, добавляя в конец названия слово &quot;долгов&quot;. 
Воспроизведите первые три слова.</string>
	<key>30</key>
	<string>Юмористы утверждают, что наше государство — правовое, поскольку каждый в нем имеет право.
Чего?</string>
	<key>31</key>
	<string>Анжелина Джоли была такой по меньшей мере однажды, Джулия Робертс — дважды, Деми Мур — трижды. Здание Банка Америки в Бостоне называют таким за его внешний вид. Назовите фамилию актера, герой которого однажды тоже был таким.</string>
	<key>32</key>
	<string>Известно, что более века назад в этом категорически было отказано журналистам. Другая же профессия попала в черный список, говорят, из-за любовной истории. Назовите эту профессию.</string>
	<key>33</key>
	<string>В свое время автор вопроса, как и все старшеклассники в его школе, дежурил на переменах и следил за порядком. Дежурные взяли себе девиз — три глагола, различающиеся только приставками: &quot;за-&quot;, &quot;пре-&quot; и &quot;вы-&quot;. Оставшаяся общая часть глаголов встречается и отдельно. Напишите ее.</string>
	<key>34</key>
	<string>Фрейд однажды высказал мнение, что за всю историю человечество испытало три удара по своему самолюбию. Первый удар нанес Коперник в 16 веке: он переместил человечество из центра мира на его окраину. Третий удар нанес сам Фрейд в 20 веке: он показал, что человек не является хозяином в своей собственной душе. А кто в 19 веке нанес второй удар?</string>
	<key>35</key>
	<string>Это среднего размера занимает объем 700 кубических километров и весит 35 тысяч тонн. В песне из известного мультфильма это сравнивали с животным. А один из русских поэтов поместил это в необычном месте. Назовите фамилию поэта.</string>
	<key>36</key>
	<string>Согласно одной статье о Стамбуле, восточный город невозможно представить СТОПУДОВО. Какие два слова мы заменили на &quot;СТОПУДОВО&quot;?</string>
	<key>37</key>
	<string>Вольф Шнайдер пишет, что один кристалл ЕГО в 1970-х годах лишил работы 45 тысяч швейцарцев. Назовите ЕГО.</string>
	<key>38</key>
	<string>После тяжелой операции автор вопроса на время потерял голос и мог шевелить только пальцами рук. Историю чего он начал читать в это время?</string>
	<key>39</key>
	<string>В серии иллюстраций студии Лебедева, посвященной глобальным катастрофам, в одной из них на стене написано &quot;ОН жив&quot;. Назовите ЕГО.</string>
	<key>40</key>
	<string>В одной книге имеется такое утверждение Бе́нджамина Дизраэ́ли: &quot;Лучший способ ознакомиться с предметом - это прочитать книгу о нем&quot;. Во фразе Дизраэ́ли мы заменили одно слово на другое. Просим вас написать замененное слово.</string>
	<key>41</key>
	<string>Как известно, Сталин невысоко ценил жизни своих солдат. Вспоминая его знаменитый приказ о введении заградотрядов, отданный в июле 1942 года, Григорий Померанц уподобляет солдат ИМ. Назовите ИХ.</string>
	<key>42</key>
	<string>В одной из передач &quot;Своей игры&quot; Илья Тальянский, желая, по его собственным словам, польстить гостье, предположил, что её родной город Санкт-Петербург, а не... Закончите фразу названием города.</string>
	<key>43</key>
	<string>Говоря о том, что творчество — это болезнь души, Гейне приводил сравнение с НИМ. В статье Людмилы Ковтун о рождении ЕГО проводится параллель с непорочным зачатием Иисуса. Назовите ЕГО.</string>
	<key>44</key>
	<string>В 1879 году Вернер Сименс построил электрифицированную железную дорогу с шириной колеи 50 см. Ток поступал через дополнительный третий рельс, а машинист сидел в локомотиве. В этом вопросе мы заменили одно короткое слово другим коротким. Напишите замененное слово.</string>
	<key>45</key>
	<string>Один из поклонников Софи Марсо называет себя ИМ Марсо, обещая всегда излучать любовь к своему кумиру и не давать ей погрузиться в мрак забвения. Назовите ЕГО.</string>
	<key>46</key>
	<string>«Живое пиво, или что нам предлагают обнинские &quot;разливайки&quot;?»
   Перед вами название статьи блогера Вячеслава Ветелева. В ней он отмечает, что многие из опробованных в городе образцов разливного пива не оправдали ожиданий. Какую букву мы пропустили в названии статьи?</string>
	<key>47</key>
	<string>В начале мультфильма &quot;Маша и медведь: Праздник на льду&quot; Маша с негодованием сравнивает медведя с ИКСОМ. ИКС делает в Америке то, что когда-то в Европе делал священный медведь. Назовите ИКСа.</string>
	<key>48</key>
	<string>Тюркский поэт Саиф СараИ в поэме &quot;СухЕйль и ГульдурсУн&quot; метафорически описывает ходившую вокруг своего сиятельного возлюбленного девушку. Напишите фамилию того, кого, по словам переводчика, Сараи опередил примерно на полтора века.</string>
	<key>49</key>
	<string>Героине одного скетча предлагают в аптеке ЕЕ в качестве отечественного теста на беременность — мол, вероятность правильности прогноза невысокая, зато дешево. ЕЕ действительно продают в аптеках как лекарственное средство. Назовите ЕЕ.</string>
	<key>50</key>
	<string>На советской карикатуре, посвященной борьбе с болтунами, было написано: &quot;Вот два уха с обеих сторон. Влетает ОНА, вылетает ОН&quot;. Назовите ЕГО.</string>
	<key>51</key>
	<string>В документальном фильме о ПЕРВОМ и ВТОРОМ говорится, что бороды они решили отращивать, чтобы походить на апостолов, а ВТОРОЙ приходил ПЕРВОМУ на помощь, как настоящий ангел. Назовите фамилию ВТОРОГО.</string>
	<key>52</key>
	<string>В одной из серий мультсериала &quot;Смешарики&quot; герои рассуждают об опасности попасть в прошлое и случайно убить там чью-либо родственницу. Какими двумя словами называется эта серия?</string>
	<key>53</key>
	<string>В юмористическом переложении сказки Родари, написанном в духе голливудских детективов, полицейские хватают Чиполлино, а тот заявляет, что знает свои права и ничего не скажет. Какой фрукт он при этом упоминает?</string>
	<key>54</key>
	<string>На одной иконе Николай Чудотворец спасает потерпевших кораблекрушение. Корабль перевернулся и, согласно описанию иконы, нависает над водой, как ИКС, явно не нужный плывущим. Назовите ИКС.</string>
	<key>55</key>
	<string>Михаил Прохоров, отвечая на неудобный вопрос, сказал, что ЕВА у него появилась в 17 лет. Назовите только имя нынешней американской ЕВЫ.</string>
	<key>56</key>
	<string>Старейший американский клуб, основанный в 1903 году, называется &quot;Белые медведи Кони-Айленда&quot;. Сезон у них длится с ноября по апрель. Каким словом мы называем участников подобных клубов?</string>
	<key>57</key>
	<string>Поэт, рассказывая о своем детстве, вспоминал, что до официального открытия сезона, то есть до 1 мая, ИМИ можно было пользоваться бесплатно. Какой эпитет обрели ОНИ в названии его произведения?</string>
	<key>58</key>
	<string>Методы идентификации личности основаны на проверке уникальных физиологических и поведенческих особенностей человека. К первым относятся отпечаток пальца, геометрия ладони, рисунок радужной оболочки глаза, форма уха, ко вторым - подпись и голос. В настоящее время группа инженеров из Технологического института в Атланте разрабатывает систему, которая, в соответствии с первой строчкой известной песни, сможет идентифицировать человека еще по одной поведенческой особенности.Назовите эту особенность.</string>
	<key>59</key>
	<string>Персонаж Бернара Вербера говорит, что не любит готовые фразы. Этот персонаж считает, что афоризмы — это замороженные мысли, интеллектуальный… Что?</string>
	<key>60</key>
	<string>В своих трудах русский естествоиспытатель XIX века Николай Данилевский сравнивал национальные обычаи и характеры разных народов. Отмечая крайний индивидуализм англичан, он приводил в пример развлечение, которым англичане занимаются вдвоем, в то время как русские - чаще группой. А как это занятие называлось у англичан?</string>
	<key>61</key>
	<string>В книге Валерия Шульжика &quot;Неуловимый Фунтик&quot; госпожа Белладонна, выбравшись из болота, первым делом открыла свою сумочку и принялась ДЕЛАТЬ ЭТО. ДЕЛАТЬ ЭТО запрещает 174 статья Уголовного кодекса Российской Федерации. Ответьте двумя словами, что такое &quot;ДЕЛАТЬ ЭТО&quot;?</string>
	<key>62</key>
	<string>Орсон Уэллс рассказывал, что после паники, вызванной радиопостановкой &quot;Война миров&quot;, к нему стали приходить угрожающие письма. Во время спектакля, где играл Уэллс, один из зрителей в первом ряду сунул руку во внутренний карман. Уэллс с ужасом уставился на него, но достал зритель вовсе не пистолет. &quot;Я бы предпочел быть убитым&quot;, - говорил Уэллс. Что же достал зритель?</string>
	<key>63</key>
	<string>В романе Эса де Кейроша африканский военачальник хочет пообщаться с богом без помощи шамана. Он зовет раба, шепчет ему послание и убивает. Через несколько минут он зовет второго раба, шепчет ему несколько слов и тоже убивает. Каким словом латинского происхождения назвали второго раба?</string>
	<key>64</key>
	<string>Бродский сравнил колючую проволоку со струнами лиры в стихотворении &quot;ТАКАЯ музыка&quot;. Какая ТАКАЯ?</string>
	<key>65</key>
	<string>Вертикальные элементы букв, например &quot;Т&quot; или &quot;Ч&quot;, иначе называются АЛЬФАМИ. Кит из сказки Андерсена хотел использовать АЛЬФУ в качестве зубочистки. Какое слово было заменено АЛЬФОЙ?</string>
	<key>66</key>
	<string>На обложке мужского журнала изображена девушка. Подпись к фотографии гласит: &quot;ИКС ее знает&quot;. Какое трехбуквенное слово, начинающееся с буквы &quot;Х&quot;, мы заменили на ИКС?</string>
	<key>67</key>
	<string>В сатирическом интернет-комиксе, опубликованном в декабре 2010 года, два галла похищают бумаги из домов римлян. Одного галла зовут Астерикс. Как зовут второго?</string>
	<key>68</key>
	<string>Татьяна Догилева поступала в ГИТИС, уже провалившись на экзаменах в другие вузы. Поэтому на последнем вступительном экзамене она декламировала стихотворение &quot;ТАКАЯ&quot;. Поэт-переводчик Вильгельм Левик перевел стихи из &quot;ТАКИХ&quot;. Какое слово мы заменили словом &quot;ТАКАЯ&quot;?</string>
	<key>69</key>
	<string>Вскоре после смерти была опубликована фотография ЕЕ, лежащей в гробу в дорогом наряде с бриллиантовыми украшениями. В результате, по замечанию журналиста, даже после смерти ЕЙ потребовался ОН. Кто же ОН?.</string>
	<key>70</key>
	<string>Один священник на время проведения служб в Страсбургском соборе брал с собой собаку. Что должна была предотвращать эта собака?</string>
	<key>71</key>
	<string>Стоимость одних коллекционных часов, выпущенных серией из 2012 экземпляров, может доходить до 170 тысяч долларов. Эта цена обусловлена материалом корпуса. Назовите имя собственное, входящее в название этой коллекции.</string>
	<key>72</key>
	<string>В графстве Эршир, откуда был родом этот ученый, славились сыры, изготовленные его матерью. Назовите фамилию этого ученого.</string>
	<key>73</key>
	<string>В фантастическом произведении Александра Громова средства массовой информации передавали не логический ИКС, а физический ИКС. Не спрашиваем, какие пять букв мы пропустили в двух прилагательных. Назовите ИКС.</string>
	<key>74</key>
	<string>Рекламный плакат Балтинвестбанка содержит изображение рыбы, занимающей почти весь объем аквариума. Назовите то, что рекламирует этот плакат, словом греческого происхождения.</string>
	<key>75</key>
	<string>Херардо Родригес — один из самых известных профессиональных роллеров. В черном ящике находится результат работы людей, чья профессия — роллер. Что в черном ящике?</string>
	<key>76</key>
	<string>Спутники-ИКСЫ движутся рядом с кольцами Нептуна, не позволяя окружающему их материалу разбегаться. В конструкцию одной из разновидностей электронного ИКСА входит генератор импульсов тока. Какое слово мы заменили ИКСОМ?</string>
	<key>77</key>
	<string>&quot;Там — места текстильщиков, а там — плотников, еще дальше — докеры, слесари... Здесь они объединены&quot;. Это цитата из фильма об истории одной из самых успешных в своей сфере деятельности компаний. В каком городе снята бОльшая часть этого фильма?</string>
	<key>78</key>
	<string>Нелюдимый герой фильма &quot;Игра&quot; в одном из эпизодов играет в теннис. Какое слово мы заменили в предыдущем предложении?</string>
	<key>79</key>
	<string>В одном произведении детектив смог раскрыть преступление из-за пристрастия преступника к НИМ. В соответствии с принятыми стандартами, ИХ раскрываемость должна составлять не менее 95%. Назовите ИХ.</string>
	<key>80</key>
	<string>В романе Маркеса даже ОНИ сочиняют новые куплеты к песне о диктаторе. По мнению поисковика Google, один ОН примерно равен 0,132 [нулю целых ста тридцати двум тысячным] метра. Назовите ЕГО.</string>
	<key>81</key>
	<string>Альфред де Виньи рассказывает о репетициях, происходивших в Сен-Лазар. Девушки и женщины учились вставать на стул изящно, не поднимая подол платья и не запутываясь в одежде. Так дамы готовились к НЕМУ. Назовите ЕГО словом французского происхождения.</string>
	<key>82</key>
	<string>Автор вопроса уверен, что мать Петра Петровича Шмидта любила ТАНЦЕВАТЬ. Какое слово мы заменили словом &quot;ТАНЦЕВАТЬ&quot;?</string>
	<key>83</key>
	<string>В 70-е годы XX века в США появился новый способ пометки деревьев лесниками и скота фермерами. Сейчас тот же способ с другими целями применяют люди, которые предварительно обязаны надеть специальное обмундирование. Назовите занятие этих людей одним словом.</string>
	<key>84</key>
	<string>В романе Брайана Олдисса &quot;Беспосадочный полет&quot; описывается вынужденное бегство с Земли. Один из членов экипажа — животновод первого класса. Его прозвище совпадает с названием марки алкогольного напитка. В какой стране производится эта марка?</string>
	<key>85</key>
	<string>Герои одного романа, находясь в напряженном ожидании, слышали каждый ЕЕ шажок. ЕЕ скорость — шесть ИКСОВ в секунду. Какую единицу измерения мы заменили на &quot;ИКС&quot;?</string>
	<key>86</key>
	<string>Ирина Батакова сравнивает шипение приготавливаемой яичницы c НИМИ. А певец Авраам Руссо считает ИХ своеобразными &quot;витаминами&quot;. Назовите ИХ словом с пятью разными гласными.</string>
	<key>87</key>
	<string> Цитата из Гюнтера Грасса: &quot;Так я и знала, что будет мальчик, хоть и говорила не раз, что будет Мариэль&quot;. Конец цитаты. По воспоминаниям Дмитрия Лихачева, профессор Введенский ставил студенткам &quot;зачет&quot;, не спрашивая. Назовите предмет, который читал профессор.</string>
	<key>88</key>
	<string>В 1902 году Горький побывал в Горьком, что дало ему материал для написания книги о судьбе обитателей социального &quot;дна&quot;. Позднее Горький работал военным корреспондентом на русско-японской войне. Напишите слово, которое мы заменили в вопросе словом &quot;Горький&quot;.</string>
	<key>89</key>
	<string>Во дворе одного исправительного учреждения стоит памятник пингвинам, на котором написано, что &quot;пингвины ведут строго ТАКОЙ образ жизни&quot;. Какой?</string>
	<key>90</key>
	<string>В январе 2011 года автомобиль Kia Sportage стал лауреатом премии &quot;Золотой он&quot;. Какие буквы мы пропустили в предыдущем предложении?</string>
	<key>91</key>
	<string>Создатели шикарного лайнера &quot;Вильгельм Густлофф&quot; заявляли, что, в отличие от иностранных судов, у корабля нет ИХ. Это должно было доказать, что нет ИХ и в самой Германии. Назовите ИХ.</string>
	<key>92</key>
	<string></string>
	<key>93</key>
	<string></string>
	<key>94</key>
	<string></string>
	<key>95</key>
	<string></string>
	<key>96</key>
	<string></string>
	<key>97</key>
	<string></string>
	<key>98</key>
	<string></string>
	<key>99</key>
	<string></string>
</dict>
</plist>
